[Desktop Entry]
Type=Application
Name=MarkDownGonzo
GenericName=Markdown Editor
Comment=Create and edit clean GitHub-Flavored Markdown
Exec=markdowngonzo %F
Icon=markdowngonzo
Terminal=false
Categories=Office;TextEditor;
Keywords=Markdown;Editor;Writing;Notes;README;
MimeType=text/markdown;text/x-markdown;
StartupNotify=true
StartupWMClass=markdowngonzo
Actions=NewDocument;

[Desktop Action NewDocument]
Name=New Document
Exec=markdowngonzo
